.Rproj.user
.Rhistory
.RData
.Ruserdata

.Rbuildignore
.DS_Store
deltaGLM.txt
Tows_outside_strata.csv
Tows_Per_StrataYear.csv
Tows_with_missing_data.csv
Encounters_Per_StrataYear.csv
jags_data.txt
inst/doc

*.jpg

vignettes/Example_Species_FinalDiagnostics/Model=1/BUGSoutput_summary.txt

vignettes/Example_Species_FinalDiagnostics/Model=1/mcmc_control.txt

vignettes/Example_Species_FinalDiagnostics/Model=1/Model_Structure.txt

*.RData

Example_Species_FinalDiagnostics/Model=1/mcmc_control.txt

Example_Species_FinalDiagnostics/Model=1/BUGSoutput_summary.txt

Example_Species_FinalDiagnostics/Model=1/Model_Structure.txt

*.csv

*.txt
